# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Python
* scala
* c

 Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. JAVA

 Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. panda
3. keras

|Data Science Tools|
|:---:             |
|R                 |
|tensorflow        |
|excel             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [25]:
#This will convert 200 minutes to hours by diving by 60
Minutes=200
hours=(Minutes/60)
print(hours)

3.3333333333333335

## Author
Sri Bharathan R